TransactionForm {
    align: center middle;
    margin: 5;
    layout: vertical
}

#foreign-amount {
    margin-top: 2;
    align: center middle;
}

#foreign-amount Input {
    width: 12;
}

Dropdown {
    width: 100;
}